<!doctype html>
<html lang="en-GB" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- Mobile viewport optimized: h5bp.com/viewport -->
    <meta name="viewport" content="width=device-width">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->



    <!-- Do not add any other CSS here, instead @import it in app.css.
       It will be inlined when building. That way it will
       automatically be minified. -->
    <link rel="stylesheet" href="css/app.css">

    <!-- If this is also installable in Chrome, provide the store link
       (see the "Self-hosted apps" section below) -->
    <!-- <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/itemID"> -->

    <!-- More ideas for your <head> here: h5bp.com/d/head-Tips -->

    <!-- All JavaScript at the bottom, except this Modernizr build.
       Modernizr enables HTML5 elements & feature detects for optimal performance.
       Create your own custom Modernizr build: www.modernizr.com/download/ -->
    <script src="js/lib/modernizr-2.5.3.min.js"></script>
    <link href="//www.mozilla.org/tabzilla/media/css/tabzilla.css" rel="stylesheet">

    <title>Mozilla Events App</title>
  </head>
  <body class="html-ltr sand">
    <div id="outer-wrapper">

      <div id="wrapper">

        <header id="masthead">
          <a href="http://www.mozilla.org/" id="tabzilla">Mozilla</a>

          <nav id="nav-main" role="menubar" class="clearfix">
            <span class="toggle" role="button" aria-controls="nav-main-menu" tabindex="0">Menu</span>
            <ul role="menu" id="nav-main-menu">
              <li role="menuitem" class="first"><a href="index.html">About</a></li>
              <li role="menuitem"><a href="schedule.html">Schedule</a></li>
              <li role="menuitem" class="last"><a href="starred.html">Starred</a></li>
            </ul>
          </nav>

          <h1>MozCamp Europe 2012</h1>
        </header>

        <section class="container">
          <div class="row">
            <section class="session-list span10">
              <h2>Schedule</h2>
              <% days.forEach(function(day){ %>
                <h3><%= day.day %></h3>
                <% day.items.forEach(function(item){ %>
                  <% var start = new Date(item.time[0]); %>
                  <% var end = new Date(item.time[1]); %>
                  <h4><%= (start.getHours() < 10 ? '0' : '') + start.getHours() %>:<%= (start.getMinutes() < 10 ? '0' : '') + start.getMinutes() %> - <%= (end.getHours() < 10 ? '0' : '') + end.getHours() %>:<%= (end.getMinutes() < 10 ? '0' : '') + end.getMinutes() %></h4>
                  <ul>
                    <% item.sessions.forEach(function(session){ %>
                      <% if(session.single){ %>
                        <% if(session.link){ %>
                          <li class="clearfix"><span class="indicator"></span><a href="https://wiki.mozilla.org/<%- session.link %>"><%= session.title %></a></li>
                        <% } else { %>
                          <li class="clearfix"><span class="indicator"></span><%= session.title %></li>
                        <% } %>
                      <% } else { %>
                        <li class="clearfix">
                          <span class="indicator"></span>
                          <% session.sessions.forEach(function(session){ %>
                            <small><%= session.time %></small> <a href="https://wiki.mozilla.org/<%- session.link %>"><%= session.title %></a>
                          <% }); %>
                        </li>
                      <% } %>
                    <% }); %>
                  </ul>
                <% }); %>
              <% }); %>
            </section>
          </div>
        </section>

      </div>

      <section id="notify">
        <article>
          <img src="img/icons/info.png" alt="info">
          <h4>Kick Ass Speaker</h4>
          <p>Moved to Sunday at 9:45</p>
        </article>
      </section>

    </div>

    <!-- JavaScript at the bottom for fast page loading: http://developer.yahoo.com/performance/rules.html#js_bottom -->

    <!-- Using require.js, a module system for javascript, include the
       js files. This loads "app.js", which in turn can load other
       files, all handled by require.js:
       http://requirejs.org/docs/api.html#jsfiles -->
    <script type="text/javascript"
        data-main="js/app.js"
        src="js/lib/require.js"></script>

    <!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
       mathiasbynens.be/notes/async-analytics-snippet -->
    <!--
    <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
    -->
  </body>
</html>
